.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  background-color: #121212;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #1e1e1e;
  padding: 20px;
  color: white;
  border-bottom: 1px solid #333;
}

main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  /* Force children to scroll */
  width: 100vw;
  box-sizing: border-box;
}